.carousel-item{
    object-fit: cover;
    object-position: top;
    height: 60vh;
    overflow: hidden;
}
.old_price{
    font-weight: bold;
    color: rgb(255, 0, 0);
}
.new_price{
    font-weight: bold;
    background-color:green;
    color: azure;
    padding: 2px;
    border-radius: 5px;
}
.pic-box{
    position: relative;
  
  }
  
  .hot{
    background-color: orangered;
    color: white;
    width: 50px;
    font-weight: bold;
    display: inline;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 10;
  }