asgiref==3.7.2
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.5
distlib==0.3.7
Django==4.2.7
django-jazzmin==2.6.0
django-session-timeout==0.1.0
et-xmlfile==1.1.0
filelock==3.13.1
idna==3.4
mysql-connector-python==8.2.0
mysqlclient==2.2.1
openpyxl==3.1.2
Pillow==10.1.0
pipenv==2023.11.15
platformdirs==4.0.0
protobuf==4.21.12
pycparser==2.21
PyMySQL==1.1.0
requests==2.31.0
setuptools==69.0.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.7
virtualenv==20.25.0
